page-feedback-rating-detail {
  canvas {
    max-width: 500px;
    max-height: 500px;
    display: -webkit-inline-box !important;
  }

  .list-ios > .item-block:first-child {
    border-top: 0;
  }

  .ratings {
    ion-icon {
      font-size: 20px;
      color: gold;
      padding-right: 2px;
    }
  }

  .moment-ago {
    float: right !important;
  }

  .username {
    font-weight: bold;
  }

  .block-element {
    text-align: center;
    display: block;
  }
}
