<ion-header>
  <ion-navbar>
    <ion-title>
      Manage user
    </ion-title>

    <ion-buttons start>
      <button ion-button clear icon-only (click)="dismiss()">
        <ion-icon name="close"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-item class="align-center">
    <ion-avatar>
      <img [src]="user.picture ? user.picture: 'assets/img/user.png'" />
    </ion-avatar>
    {{user.firstName}} {{user.lastName}}
  </ion-item>

  <ion-item>
    <ion-label>Action</ion-label>
    <ion-select [(ngModel)]="action">
      <ion-option value="flushUserData">Flush user data</ion-option>
      <ion-option value="flushUser">Flush user</ion-option>
    </ion-select>
  </ion-item>

  <ion-footer>
    <ion-row>
      <ion-col>
        <button ion-button item-left block (click)="popupAlert()">
          <div>
          Execute
          </div>
        </button>
      </ion-col>
    </ion-row>
  </ion-footer>
</ion-content>
