<ion-header>
  <ion-navbar hideBackButton="true" color="primary">
    <ion-title>Feedbacks &amp; Ratings</ion-title>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
  </ion-navbar>
</ion-header>
<ion-content>
  <ion-list *ngIf="feedbackList.length">
    <ion-item *ngFor="let feedback of feedbackList" (click)="goToFeedbackDetailPage(feedback)">
      <h2>{{feedback.Name}}</h2>
    </ion-item>
  </ion-list>

  <no-results *ngIf="!feedbackList.length" icon="quote" text="No results found"></no-results>
</ion-content>
