<ion-item (click)="viewEvent(event)" [ngClass]="getClass(event)">
  <div class="calendar">
    <div class="month">{{ event.EventStartDate | date:'MMM/yy' }}</div>
    <h1>{{ event.EventStartDate | date:'d' }}</h1>
    <p>{{ event.EventStartDate | date:'EEE' }}</p>
  </div>
  <div class="event-content">
    <h2 class="event-name">{{ event.Name }}</h2>
    <p class="event-location">In <span>{{ event.EventVenue || 'Online' }}</span></p>
    <p *ngIf="event.RegisteredParticipants && paramsData.fetchLatestData" [showFor]="'moderator'"> Participants: {{event.AttendedParticipants || 0 }} / {{ event.RegisteredParticipants || 0}}</p>
  </div>
  <div class="progress-bar" *ngIf="event.RegisteredParticipants && paramsData.fetchLatestData" [showFor]="'moderator'">
    <div progress-bar [value]="event.AttendedParticipants" [total]="event.RegisteredParticipants">
    </div>
  </div>
</ion-item>
