moderator-alert {
  .scroll-content {
    overflow: hidden;
    width: 100%;
    height: 100%;
    position: relative;
  }

  .footer,
  .header {
    display: flex;
    align-items: center;
  }

  .header {
    padding:10px 20px 5px 20px !important;
    border-bottom: 1px solid #ddd;
  }

  .header h3 {
    display: inline-block;
    margin: 0 !important;
  }

  .header .icon {
    padding-right: 15px;
    font-size: 2.5em;
  }

  .event-content {
    font-size: 17px;
    padding: 12px 20px;
    line-height: 1.5;
  }

  .event-name {
    font-weight: bold;
  }

  .footer {
    padding: 5px 10px 10px;
    justify-content: flex-end;
  }

  .footer .button {
    margin-right: 15px;
  }

  .success .icon {
    color: #2E7D32;
  }

  .info .icon {
    color: #FFA726;
  }
}
