custom-page {
  .footer-button {
    padding-bottom: 2px;
    border-style: none;
  }

  .footer-button > .button-inner {
    flex-direction: column;
  }

  .footer-icon {
    font-size: 24px;
  }

  .footer-text {
    font-size: 13px;
    padding-top: 4px;
  }

  .files-header {
    margin: 0;
  }

  ion-slides {
    max-height: 250px;
  }

  .page-images {
    min-height: 200px;
    max-height: 250px;
  }
}
