single-event-new {
  .event-name {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .event-box {
    display: flex !important;
    flex-direction: row !important;
    justify-content: space-between;
    flex-flow: nowrap;
  }

  .event-data-container {
    flex: 1 1 auto;
    width: 70% !important;
  }

  .ticket-button {
    width: 100%;
    white-space: normal;
    padding: 0 !important;
    min-height: 40px;
    width: 75% !important;
    margin-top: 10px !important;
    font-family: monospace;
    font-size: 1.1em !important;
    font-weight: bold;
  }

  .status{
    font-size: 1.25rem !important;
    padding-bottom: 10px;
  }

  .ticket-container {
    flex: 1 1 auto;
    text-align: center !important;
    width: 30% !important;
  }
}
