<div class="event-box" (click)="viewEvent(event)">
  <div class="event-data-container">
    <div class="event-timings"> {{ moment(event.EventStartDate).format('hh:mm A') }} - {{ moment(event.EventEndDate).format('hh:mm A') }} </div>
    <div class="event-name"> {{ event.Name }} </div>
    <div class="event-venue"> {{ event.EventVenue || 'Online' }} </div>
  </div>

  <div class="ticket-container" (click)="viewTicket($event,event)">
    <span class="status"> {{ participationStatus }} </span>
    <br/>
    <button ion-button outline class="ticket-button" *ngIf="participationStatus == 'Registered'">
        View <br/> Ticket
      </button>
  </div>
</div>