<ion-header>
  <ion-navbar hideBackButton="true" color="primary">
    <ion-title>
      User Details
    </ion-title>

    <ion-buttons left>
      <button ion-button icon-only (click)="cancelRegistration()">
       Cancel
     </button>
    </ion-buttons>

  </ion-navbar>
</ion-header>

<ion-content>
  <ion-list>
    <form #userDetailForm="ngForm" novalidate>
      <ion-item>
        <ion-label stacked color="primary">First Name</ion-label>
        <ion-input [(ngModel)]="user.firstName" type="text" name="firstName" #firstName="ngModel" required>
        </ion-input>
      </ion-item>
      <ion-item>
        <ion-label stacked color="primary">Last Name</ion-label>
        <ion-input [(ngModel)]="user.lastName" type="text" name="lastName" #lastName="ngModel" required>
        </ion-input>
      </ion-item>
      <ion-item>
        <ion-label stacked color="primary">Website</ion-label>
        <ion-input [(ngModel)]="user.website" type="text" name="website" #website="ngModel">
        </ion-input>
      </ion-item>
      <ion-item>
        <ion-label stacked color="primary">Facebook</ion-label>
        <ion-input [(ngModel)]="user.facebook" type="text" name="facebook" #facebook="ngModel">
        </ion-input>
      </ion-item>
      <ion-item>
        <ion-label stacked color="primary">Twitter</ion-label>
        <ion-input [(ngModel)]="user.twitter" type="text" name="twitter" #twitter="ngModel">
        </ion-input>
      </ion-item>
      <ion-item>
        <ion-label stacked color="primary">Instagram</ion-label>
        <ion-input [(ngModel)]="user.instagram" type="text" name="instagram" #instagram="ngModel">
        </ion-input>
      </ion-item>
    </form>
  </ion-list>
  <div padding>
    <button ion-button [disabled]="userDetailForm.invalid" (click)="saveUserDetails(userDetailForm)" type="submit" block>Save</button>
  </div>
</ion-content>
