<ion-header>
  <ion-toolbar>
    <ion-buttons left>
      <button ion-button icon-only (click)="dismiss()"><ion-icon name="arrow-back"></ion-icon></button>
    </ion-buttons>

    <ion-title>
      {{ pageId ? 'Edit' : 'Add' }} Page
    </ion-title>

    <ion-buttons end>
      <button ion-button [disabled]="!pageForm.valid" (click)="savePage()" type="submit" color="primary">Save</button>
    </ion-buttons>

  </ion-toolbar>
</ion-header>

<ion-content class="outer-content">
  <form #pageForm="ngForm" novalidate>

    <ion-list>
      <ion-item>
        <ion-label stacked color="primary" class="required-input">Title</ion-label>
        <ion-input [(ngModel)]="page.title" name="title" placeholder="Enter text" required></ion-input>
      </ion-item>

      <ion-item>
        <ion-label stacked color="primary">Published</ion-label>
        <ion-toggle [(ngModel)]="page.published" name="published"></ion-toggle>
      </ion-item>

      <app-tinymce [(ngModel)]='page.description' name="description" required *ngIf="!platform.is('android') && !platform.is('ios')"></app-tinymce>
      
      <ion-item *ngIf="platform.is('android') || platform.is('ios')">
        <ion-label stacked color="primary">Description</ion-label>
        <ion-textarea rows="3" [(ngModel)]="page.description" name="description" placeholder="Description" required></ion-textarea>
      </ion-item>
    </ion-list>

  </form>

</ion-content>
