<ion-header>
  <ion-navbar hideBackButton="true" color="primary" *ngIf="!isEdit">
    <ion-buttons left>
      <button ion-button clear icon-only (click)="dismiss()"><ion-icon name="arrow-back"></ion-icon></button>
    </ion-buttons>
    <ion-title>Details</ion-title>
    <ion-buttons end [showFor]="'admin'" *ngIf="isEventLive()">
      <button ion-button clear [disabled]="!moderatorsIds.length" (click)="toggleEdit()">Edit</button>
    </ion-buttons>
    <ion-buttons end>
      <button ion-button clear icon-only (click)="openMoreActionSheet()">
      <ion-icon name="ios-more"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

  <ion-navbar hideBackButton="true" color="danger" *ngIf="isEdit">
    <ion-buttons left>
      <button ion-button clear icon-only (click)="dismiss()"><ion-icon name="arrow-back"></ion-icon></button>
    </ion-buttons>
    <ion-title>Details</ion-title>
    <ion-buttons end>
      <button ion-button clear [disabled]="!canDelete()" (click)="removeModerators()">Delete</button>
      <button ion-button clear icon-only (click)="toggleEdit()">Cancel</button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>
  <div *ngIf="event" no-bounce>
    <div class="event-card">
      <div class="event-details" padding>
        <p color="primary">{{ event.EventStartDate | amDateFormat: 'dddd MMMM DD YYYY' }} at {{ event.EventStartDate | amDateFormat:'hh:mm A' }}</p>
        <h3>{{ event.Name }}</h3>
        <p>In <span color="primary">{{ event.EventVenue || 'Online'}}</span></p>
      </div>

      <div class="attendence">
        <div class="total">
          Registered
          <h4>{{ event.RegisteredParticipants || 0 }}</h4>
        </div>
        <div class="attended">
          Attended
          <h4>{{event.AttendedParticipants || 0 }}</h4>
        </div>
      </div>
    </div>
    <ion-list [showFor]="'admin'" class="moderator-list">
      <ion-list-header color="light">
        Moderators
      </ion-list-header>
      <ion-scroll scrollY="true">
        <div *ngFor="let userId of moderatorsIds">
          <ion-item (click)="selectModerator(userId)">
            <ion-icon *ngIf="isEdit" [name]="selectedModerators[userId] ? 'checkbox' : 'square-outline'" [color]="selectedModerators[userId] ? 'primary' : ''" item-left></ion-icon>
            <user-card [params]="{uid: userId}"></user-card>
          </ion-item>
        </div>
        <no-results *ngIf="!moderatorsIds.length" icon="person" text="No moderators found"></no-results>
      </ion-scroll>

    </ion-list>


    <!-- <ion-list-header [showFor]="'moderator'" color="light">Participants</ion-list-header>
    <ion-card [showFor]="'moderator'" class="participants-list">
      <ion-card-header>
        <ion-segment [(ngModel)]="participantSegment" color="primary" (ionChange)="participantSegmentChanged($event)">
          <ion-segment-button value="attended" color="light">
            Attended ({{event.AttendedParticipants || 0}})
          </ion-segment-button>
          <ion-segment-button value="remaining" color="light">
            Remaining ({{getRemainingParticipant()}})
          </ion-segment-button>
          <ion-segment-button value="all" color="light">
            ALL ({{event.ParticipationCount || participants.length || 0}})
          </ion-segment-button>
        </ion-segment>
      </ion-card-header>

      <ion-card-content>
        <ion-scroll scrollY="true">
          <ion-list class="participants-list" #content>
             <no-results *ngIf="event.RegisteredParticipants == 0 && participantSegment == 'attended'" icon="person" text="No Participants found"></no-results>
            <no-results *ngIf="remainingParticipantsCount == 0 && participantSegment == 'remaining'" icon="person" text="No Participants found"></no-results>
            <no-results *ngIf="!participants.length && participantSegment == 'all'" icon="person" text="No Participants found"></no-results>
            <div *ngFor="let p of participants">
              <ion-item *ngIf="isStatus(p.status)">
                <h2 item-left>{{ p.name }}</h2>
                <button ion-button outline item-right [color]="getColor(p.status)">
                    {{p.status}}
              </button>
              </ion-item>
            </div>
          </ion-list>
        </ion-scroll>

      </ion-card-content>
    </ion-card> -->

    <!-- <ion-card [showFor]="'moderator'" class="participants-list">

      <ion-card-header>
        Participants
        <ion-segment [(ngModel)]="participantSegment" color="primary" (ionChange)="participantSegmentChanged($event)">
          <ion-segment-button value="attended" color="light">
            Attended({{event.RegisteredParticipants || 0}})
          </ion-segment-button>
          <ion-segment-button value="remaining" color="light">
            Remaining({{remainingParticipantsCount || 0}})
          </ion-segment-button>
          <ion-segment-button value="all" color="light">
            ALL({{event.ParticipationCount || 0}})
          </ion-segment-button>
        </ion-segment>
      </ion-card-header>
      <ion-card-content>
        <ion-scroll scrollY="true">
          <ion-list class="participants-list" #content>
            <no-results *ngIf="event.RegisteredParticipants == 0 && participantSegment == 'attended'" icon="person" text="No Participants found"></no-results>
            <no-results *ngIf="remainingParticipantsCount == 0 && participantSegment == 'remaining'" icon="person" text="No Participants found"></no-results>
            <no-results *ngIf="!participants.length && participantSegment == 'all'" icon="person" text="No Participants found"></no-results>

            <div *ngFor="let participant of participants">
              <ion-item *ngIf="participantSegment =='all' ? true === true || participant.ParticipationStatus == 'Attended' :  participant.ParticipationStatus == participationStatusValue">
                <h2 item-left>{{ participant.Name }}</h2>
                <button ion-button outline item-right class="status-button" [color]="participant.ParticipationStatus == 'Attended' ? 'secondary' : 'primary'" *ngIf="participantSegment == 'all'">
                      {{participationStatus[participant.ParticipationStatus]}}
                    </button>
              </ion-item>
            </div>
          </ion-list>
        </ion-scroll>

      </ion-card-content>
    </ion-card> -->

  </div>
  <ion-list [showFor]="'moderator'" class="participants-list">
    <ion-list-header color="light" sticky>
      Participants ({{ participants.length || 0 }})
    </ion-list-header>
    <ion-scroll scrollY="true">
      <ion-item *ngFor="let participant of participants">
        <h2 item-left>{{ participant.name }}</h2>
        <!-- <button ion-button outline item-right color="secondary">
              {{participant.status}}
        </button> -->
        <ion-chip item-right [color]="getParticipationColor(  participant.status)">
          <ion-label>{{ participant.status }}</ion-label>
        </ion-chip>
      </ion-item>
    </ion-scroll>
  </ion-list>

</ion-content>

<ion-fab right bottom *ngIf="isEventLive()" [showFor]="'admin'">
  <button ion-fab color="primary" (click)="addModerators()"><ion-icon name="person-add"></ion-icon></button>
</ion-fab>

<ion-footer *ngIf="isEventLive()" [showFor]="'moderator'" color="primary">
  <ion-row>
    <ion-col>
      <button ion-button clear text-only block (click)="manual()" color="white">
          <ion-icon name="md-create"></ion-icon>
           <label>Enter Code</label>
        </button>
    </ion-col>
    <ion-col>
      <button ion-button clear text-only block (click)="continousScan()" color="white">
        <ion-icon name="qr-scanner"></ion-icon>
        <label>Scan</label>
      </button>
    </ion-col>

  </ion-row>
</ion-footer>
