<ion-content scroll="false">
  <ion-card class="home-header">
    <ion-slides initialSlide="0" autoplay="4000" pager="true" *ngIf="slides && slides.length > 0">
      <ion-slide *ngFor="let slide of slides">
        <div [background-image]="slide.$value"></div>
      </ion-slide>
    </ion-slides>
  </ion-card>

  <ion-buttons left class="home-menu-btn">
    <button ion-button menuToggle="left" icon-only>
      <ion-icon name="menu"></ion-icon>
    </button>
  </ion-buttons>

  <div class="home-content">
    <div class="highlights-container">
      <ion-item-divider color="light">Upcoming events</ion-item-divider>
      <ion-scroll scrollX="true" scroll-avatar>
        <div class="spinner-container" *ngIf="this.isProcessing">
          <ion-spinner name="ios"></ion-spinner>
        </div>
        <ion-card *ngFor="let event of events" class="scroll-item">
          <single-event [params]="event" [data]="{fetchLatestData:true}"></single-event>
        </ion-card>
        <no-results icon="calendar" text="No Events found" *ngIf="!events.length && !isProcessing" [showFor]="'admin'"></no-results>
        <no-results icon="calendar" text="No Events have been assigned to you" *ngIf="!events.length && !isProcessing" [showFor]="'moderator'"></no-results>
        <button ion-fab class="scroll-item custom-postion" (click)="openEventListPage()" *ngIf="events.length">More</button>
      </ion-scroll>
    </div>

    <ion-grid class="centerGrid" *ngIf="menuItems && menuItems.length">
      <ion-row *ngFor="let triplet of getTriplets()">
        <ion-col *ngFor="let item of triplet">
          <div class="custom" [clickAction]="item" clickType="menu">
            <ion-icon [name]="item.icon" class="IconButton" color="primary"></ion-icon>
            <br/>
            <label class="button-bottom-text">{{item.title}}</label>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>
