<ion-split-panel>
  <!-- logged in menu -->
  <ion-menu [content]="content" persistent="true" *ngIf="showMenu">
    <ion-content class="outer-content" class="menu">

      <ion-list>
        <ion-list-header color="light">
          Menu
        </ion-list-header>

        <button ion-item menuClose *ngFor="let page of accountPages" (click)="openPage(page)">
        <ion-icon [name]="page.icon" item-left></ion-icon>
        <h2> {{page.title}} </h2>
      </button>
      </ion-list>
      <ion-list *ngIf="roleValue == 99 || roleValue == 20">
        <ion-list-header color="primary" class="admin-header" *ngIf="roleValue == 99">
          Admin
        </ion-list-header>
        <ion-list-header color="primary" class="admin-header" *ngIf="roleValue == 20">
          Moderator
        </ion-list-header>
        <button ion-item menuClose *ngFor="let p of adminPages" (click)="openPage(p)"  [hidden]="p.hideFor == roleValue">
              <ion-icon item-left [name]="p.icon " [color]="isActive(p)"></ion-icon>
              {{p.title}}
            </button>
      </ion-list>
    </ion-content>
  </ion-menu>

  <!-- main navigation -->
  <ion-nav #content swipeBackEnabled="false" main></ion-nav>

</ion-split-panel>
