rating-modal{
  .rating-stars {
    text-align: center;

    ion-icon{
      font-size: 5rem;
      padding-right: 10px;
      color: gold;
    }

    .grey {
      ion-icon{
        color: grey !important;
      }
    }

    .rating-stars{
      text-align: center;
    }

    .no-border{
      border: 0px !important;
    }
  }

  .back-button {
    display: block;
  }

  .username{
    font-weight:bold;
    font-size: 1.6rem;
  }
  .top-margin-10{
    margin-top: 10px !important;
  }

  .avatar{
    margin: 0 !important;
  }
}
