post-card {
  moment-ago span, ion-icon.moment-ago-icon{
    color: #808080 !important;
  }
  moment-ago span{
    font-size: 13px;
  }

  .bg-white{
    background-color: #fff;
    margin: -2px 0px 12px 0px;
    height: 40px;
    box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.25);
    text-align: right;
    font-size: 2rem;
    border-radius: 0px 0px 2px 2px;
  }

  .item-event-details .item-inner{
    padding-right: 0px !important;
  }

  .poll-container{
    padding: 10px;
  }
}
