.add-icon {
  ion-icon {
    font-size: 50px;
  }

  ion-row {
    height: 100%;
    flex-wrap: wrap;
  }

  ion-col {
    flex: 0 0 25%;
    max-width: 25%;
    text-align: center;
    padding: 10px 5px;
    cursor: pointer;
    border: 1px solid color($colors, light);
  }

  ion-col:hover{
    border: 1px solid color($colors, primary);
  }
}
