<ion-item (click)="viewEvent(eventData)" [ngClass]="getClass(eventData) + ' calendar-event'">
  <div class="calendar">
    <div class="month">{{ eventData.EventStartDate | date:'MMM/yy' }}</div>
    <h1 class="date">{{ eventData.EventStartDate | date:'d' }}</h1>
    <p class="day">{{ eventData.EventStartDate | date:'EEE' }}</p>
  </div>
  <div class="event-content">
    <h2 class="event-name">{{ eventData.Name }}</h2>
    <p class="event-location">In <span>{{ eventData.EventVenue || 'Online'}}</span> </p>
    <p class="event-timings">{{ eventData.EventStartDate | amDateFormat:'hh:mm A' }}</p>
  </div>
</ion-item>