<ion-header>
  <ion-navbar hideBackButton="true" color="primary">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Menu Settings</ion-title>
    <ion-buttons end>
      <button ion-button type="submit" (click)="saveAllMenus()" [disabled]="modifiedMenus.length < 1">Save</button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-card>
    <ion-card-header style="padding:0px;">
      <ion-toolbar color="light">
        <ion-buttons left>
          <button ion-button icon-only (click)="toggleList()" color="primary">
            <ion-icon name="arrow-dropdown" *ngIf="!isListExpanded"> </ion-icon>
            <ion-icon name="arrow-dropup" *ngIf="isListExpanded"> </ion-icon>
          </button>
        </ion-buttons>
        <ion-title class="title" (click)="toggleList()">  Home Page Slider </ion-title>
      </ion-toolbar>
    </ion-card-header>

    <ion-card-content>
      <image-gallery [hidden]="!isListExpanded" [params]="{folder: 'homepage'}" (updateMenu)="updateMenu($event)"></image-gallery>
    </ion-card-content>
  </ion-card>
  <br/>
  <menu-pages [params]="{ menuName : 'HOME_PAGE', title: 'Home' }" (updateMenu)="updateMenu($event)"></menu-pages>
  <menu-pages [params]="{ menuName : 'ADMIN_HOME_PAGE', title: 'Admin Home page' }" (updateMenu)="updateMenu($event)"></menu-pages>
  <br/>
  <menu-pages [params]="{ menuName : 'MODERATOR_HOME_PAGE', title: 'Moderator Home page' }" (updateMenu)="updateMenu($event)"></menu-pages>
  <br/>
  <menu-pages [params]="{ menuName : 'SIDE_MENU', title: 'Side Menu' }" (updateMenu)="updateMenu($event)"></menu-pages>
  <br/>
  <menu-pages [params]="{ menuName : 'TAB_MENU', title: 'Footer Menu' }" (updateMenu)="updateMenu($event)"></menu-pages>
</ion-content>
