<ion-header>
  <ion-navbar color="primary">
    <ion-title>
      Files
    </ion-title>
    <ion-buttons end>
      <button ion-button (click)="dismiss(selectId)" [disabled]="selectedFiles.length < 1">OK</button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content class="outer-content">
  <ion-grid>
    <ion-row wrap *ngIf="this.uploadType!='file'">
      <ion-col>
        <label class="image">
          <ion-thumbnail>
            <img src="assets/img/plus-filled.svg" class="img img-icon" alt="Image Pic"/>
            <attach-files class="no-display" [params]="{folder:folder, fileName:fileName, uploadType:'images'}" (autoSelectFile)="autoSelectFile($event)"></attach-files>
          </ion-thumbnail>
          </label>
      </ion-col>

        <ion-col *ngFor="let file of files;let i = index " (click)="onClick(i)" [ngClass]="getClass(i)">
          <ion-thumbnail>
            <img [src]="file.url" class="img" alt="Image Pic"/>
          </ion-thumbnail>
        </ion-col>
    </ion-row>

    <ion-row wrap *ngIf="this.uploadType=='file'">
      <ion-col>
        <label class="file">
          <ion-thumbnail>
            <img src="assets/img/plus-filled.svg" class="img img-icon" alt="File Pic"/>
            <attach-files class="no-display" [params]="{folder:folder, fileName:fileName, uploadType:'file'}" (autoSelectFile)="autoSelectFile($event)"></attach-files>
          </ion-thumbnail>
          </label>
      </ion-col>

      <ion-col *ngFor="let file of files;let i = index " (click)="onClick(i)" [ngClass]="getClass(i)">
        <div class="icon-container">
          <div class="file-icon" attr.filetype="{{this.file.fileName.substr(this.file.fileName.lastIndexOf('.') + 1)}}">
          <span class="fileCorner"></span>
          </div>
        </div>
        <div class="file-name"> {{ file.fileName }} </div>
        <div class="file-size"> Size : {{ file.size / 1024 | number : '1.2-2' }} KB  </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
